@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200&display=swap");

.header {
  margin-top: 20px;
  margin-bottom: 50px;
}
.header > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}
.fac {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.facContent > p:nth-child(1) {
  font-family: 'Montesserat', sans-serif;
  font-size: 1.4rem;
  color: #000;
  text-transform: capitalize;
}
.facContent > p:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: 1.23rem;
  font-weight: bold;
  color: #000;
  text-transform: capitalize;
  /* display: none;`` */

}
.facContent:hover > p:nth-child(2) {
  display: block;
  transition: all 0.3s ease-out;
}
div .fac {
  height: 50vh;
  padding: 90px 80px;
  /* transition: ; */
}
div .fac:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 70px 80px;
  height: 50vh;
  transition: all 0.3s ease-out;
}

.facButton {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}